CHANNEL=Zhenxi_Collection_Room

LOCALE=zh-cn
TIMEZONE=Asia/Shanghai

TELEGRAM=https://t.me/listen0_bot
TWITTER=ccbikai
GITHUB=ccbikai
DISCORD=https://DISCORD.com
PODCASRT=https://PODCASRT.com
MASTODON=mastodon.social/@Mastodon
BLUESKY=bsky.app

FOOTER_INJECT=FOOTER_INJECT
HEADER_INJECT=HEADER_INJECT

NO_FOLLOW=false
NO_INDEX=false

TELEGRAM_HOST=telegram.dog
STATIC_PROXY=""
